@model DaveyVanTilburgWebsite.Models.MyReads

@{
    ViewBag.Title = "BookReads";
}

<div class="accordion">
    <section class="accordion-item">
        <section class="accordion-info">
            <ul>
                <li>Icon</li>
                <li>Title</li>
                <li>Author</li>
            </ul>
        </section>
    </section>

    @foreach (MyReadsItem item in Model.Items().Reverse())
    {
    <section class="accordion-item type-@item.Type">
        <section class="accordion-info">
            <ul>
                <li>
                    <div class="my-tooltip">
                        <img class="icon" src="@item.Icon">
                        <span class="tooltiptext"><img class="big-icon" src="@item.Icon"></span>
                    </div>
                </li>
                <li>@item.Title</li>
                <li>@item.Author</li>
            </ul>
            @if (!string.IsNullOrWhiteSpace(item.Content))
            {
                <div class="accordion-item-content">
                    <p>@item.Content</p>
                </div>
            }
        </section>
    </section>
    }
</div>

@section css {
    <link rel="stylesheet" href="~/css/BookList.css" />
    <link rel="stylesheet" href="~/css/ImageToolTip.css" />
}